/* TYPOGRAPHY */

/* Typography styles where no options exist in the theme or blocks */

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--heading-top3 h1, h2, h3;

a:hover {
	text-decoration: underline;
}
