
/**
 * CSS Variables - edit to suit your project requirements
 */

:root {

	/* Theme colors */
	--brand-primary100: #8a0b00;
	--brand-primary90: #9f1401;
	--brand-primary80: #b52003;
	--brand-primary70: #c72c05;
	--brand-primary60: #d73e0f;
	--brand-primary50: #e45121;
	--brand-primary40: #ed673b;
	--brand-primary30: #f4835d;
	--brand-primary20: #f9a386;
	--brand-primary10: #fdc7b5;
	--brand-primary05: #fed8cd;
	--brand-primary00: #fed8cd;

	--brand-secondary100: #060508;
	--brand-secondary90: #0f1227;
	--brand-secondary80: #063746;
	--brand-secondary70: #136671;
	--brand-secondary60: #259296;
	--brand-secondary50: #3db3b1;
	--brand-secondary40: #58cac6;
	--brand-secondary30: #77ddda;
	--brand-secondary20: #9ae9ea;
	--brand-secondary10: #bef1f5;
	--brand-secondary05: #d9f5fa;
	--brand-secondary00: #f6fdff;

	--grey100: #020202;
	--grey90: #080808;
	--grey80: #181818;
	--grey70: #323232;
	--grey60: #585858;
	--grey50: #848484;
	--grey40: #aeaeae;
	--grey30: #d1d1d1;
	--grey20: #e9e9e9;
	--grey10: #f7f7f7;
	--grey05: #fbfbfb;
	--grey00: #fff;

	--black: var(--grey100);
	--white: var(--grey00);
}
