/* 
 * We use generic color names here, and when we define the custom color 
 * pallettes in includes/editor/editor-setup.php, and when we set their css 
 * variables in src/css/base/variables.css
 * When we use a custom color pallette in Gutenberg ( The Editor ) WordPress 
 * adds the following classes.
 * If you choose primary-100 as the Background Color for a block, WordPress 
 * adds .has-background and .has-primary-100-background-color to the block.
 * If you choose primary-100 as the Color for a block, WordPress adds 
 * .has-text-color and .has-primary-100-color to the block.
 * See https://www.billerickson.net/wordpress-color-palette-button-styling-gutenberg/
 */

/* Primary*/
.has-primary-100-color {
    color: var(--primary-100);
}

.has-primary-100-background-color {
    background-color: var(--primary-100);
}

.has-primary-90-color {
    color: var(--primary-90);
}

.has-primary-90-background-color {
    background-color: var(--primary-90);
}

.has-primary-80-color {
    color: var(--primary-80);
}

.has-primary-80-background-color {
    background-color: var(--primary-80);
}

.has-primary-70-color {
    color: var(--primary-70);
}

.has-primary-70-background-color {
    background-color: var(--primary-70);
}

.has-primary-60-color {
    color: var(--primary-60);
}

.has-primary-60-background-color {
    background-color: var(--primary-60);
}

.has-primary-50-color {
    color: var(--primary-50);
}

.has-primary-50-background-color {
    background-color: var(--primary-50);
}

.has-primary-40-color {
    color: var(--primary-40);
}

.has-primary-40-background-color {
    background-color: var(--primary-40);
}

.has-primary-30-color {
    color: var(--primary-30);
}

.has-primary-30-background-color {
    background-color: var(--primary-30);
}

.has-primary-20-color {
    color: var(--primary-20);
}

.has-primary-20-background-color {
    background-color: var(--primary-20);
}

.has-primary-10-color {
    color: var(--primary-10);
}

.has-primary-10-background-color {
    background-color: var(--primary-10);
}

.has-primary-05-color {
    color: var(--primary-05);
}

.has-primary-05-background-color {
    background-color: var(--primary-05);
}

.has-primary-00-color {
    color: var(--primary-00);
}

.has-primary-00-background-color {
    background-color: var(--primary-00);
}

/* Secondary */
.has-secondary-100-color {
    color: var(--secondary-100);
}

.has-secondary-100-background-color {
    background-color: var(--secondary-100);
}

.has-secondary-90-color {
    color: var(--secondary-90);
}

.has-secondary-90-background-color {
    background-color: var(--secondary-90);
}

.has-secondary-80-color {
    color: var(--secondary-80);
}

.has-secondary-80-background-color {
    background-color: var(--secondary-80);
}

.has-secondary-70-color {
    color: var(--secondary-70);
}

.has-secondary-70-background-color {
    background-color: var(--secondary-70);
}

.has-secondary-60-color {
    color: var(--secondary-60);
}

.has-secondary-60-background-color {
    background-color: var(--secondary-60);
}

.has-secondary-50-color {
    color: var(--secondary-50);
}

.has-secondary-50-background-color {
    background-color: var(--secondary-50);
}

.has-secondary-40-color {
    color: var(--secondary-40);
}

.has-secondary-40-background-color {
    background-color: var(--secondary-40);
}

.has-secondary-30-color {
    color: var(--secondary-30);
}

.has-secondary-30-background-color {
    background-color: var(--secondary-30);
}

.has-secondary-20-color {
    color: var(--secondary-20);
}

.has-secondary-20-background-color {
    background-color: var(--secondary-20);
}

.has-secondary-10-color {
    color: var(--secondary-10);
}

.has-secondary-10-background-color {
    background-color: var(--secondary-10);
}

.has-secondary-05-color {
    color: var(--secondary-05);
}

.has-secondary-05-background-color {
    background-color: var(--secondary-05);
}

.has-secondary-00-color {
    color: var(--secondary-00);
}

.has-secondary-00-background-color {
    background-color: var(--secondary-00);
}

/* Grey */
.has-grey-100-color {
    color: var(--grey-100);
}

.has-grey-100-background-color {
    background-color: var(--grey-100);
}

.has-grey-90-color {
    color: var(--grey-90);
}

.has-grey-90-background-color {
    background-color: var(--grey-90);
}

.has-grey-80-color {
    color: var(--grey-80);
}

.has-grey-80-background-color {
    background-color: var(--grey-80);
}

.has-grey-70-color {
    color: var(--grey-70);
}

.has-grey-70-background-color {
    background-color: var(--grey-70);
}

.has-grey-60-color {
    color: var(--grey-60);
}

.has-grey-60-background-color {
    background-color: var(--grey-60);
}

.has-grey-50-color {
    color: var(--grey-50);
}

.has-grey-50-background-color {
    background-color: var(--grey-50);
}

.has-grey-40-color {
    color: var(--grey-40);
}

.has-grey-40-background-color {
    background-color: var(--grey-40);
}

.has-grey-30-color {
    color: var(--grey-30);
}

.has-grey-30-background-color {
    background-color: var(--grey-30);
}

.has-grey-20-color {
    color: var(--grey-20);
}

.has-grey-20-background-color {
    background-color: var(--grey-20);
}

.has-grey-10-color {
    color: var(--grey-10);
}

.has-grey-10-background-color {
    background-color: var(--grey-10);
}

.has-grey-05-color {
    color: var(--grey-05);
}

.has-grey-05-background-color {
    background-color: var(--grey-05);
}

.has-grey-00-color {
    color: var(--grey-00);
}

.has-grey-00-background-color {
    background-color: var(--grey-00);
}
