/* BLURBS */
.blurbs {

	& .blurbs__column {
		margin-bottom: 2.6em;

		&.no_bottom_margin {
			margin-bottom: 0;
		}

		@media (width > 768px) {
			margin-bottom: 0;
		}

		/** Adjust font sizing so headings don't 
		split lines on tablet oriantations **/
		@media only screen 
			and (min-device-width: 768px) 
			and (max-device-width: 1024px) 
			and (orientation: landscape) {

			& h2.blurbs__heading {
				font-size: 1.4rem;
			}
		}

		@media only screen 
			and (min-device-width: 768px) 
			and (max-device-width: 1024px) 
			and (orientation: portrait)
			and (-webkit-min-device-pixel-ratio: 2) {

			& h2.blurbs__heading {
				font-size: 1.4rem;
			}
		}

	} /** end column **/

	/** display block on tablet in portrait mode so blurbs will stack **/
	@media only screen 
		and (min-device-width: 768px) 
		and (max-device-width: 1023px) 
		and (orientation: portrait)
		and (-webkit-min-device-pixel-ratio: 2) {
		display: block;
	}
}
