.care-plan-pricing {
	font-size: 0.95em;

	& h2.care-plan-pricing__section-headline {
		color: var(--grey-00);
	}

	& .care-plan-pricing__price {
		background-color: var(--secondary-60);
		color: var(--grey-00);
		font-size: 1.6rem;
		margin-left: -16px;
		margin-right: -16px;
		padding: 24px 0;
		text-align: center;

		& .care-plan-pricing__period {
			font-size: 0.7rem;
			padding-bottom: 10px;
			padding-left: 4px;
			vertical-align: middle;
		}

	}
}

/* care-plan-pricing__subheading */

/* care-plan-pricing__column-headline */
