/* GRAVITY FORMS */

/* At this point we're using Gravity Forms default styles and the 
 * Gravity Form Styler block.
 * Styles here are overrides used where default Gravity Forms styles, 
 * and the Gravity Forms styler block don't work.
 * Gravity Forms styles load after our theme stylesheet so we need to use the
 * specific form ID's to get the required specificity.
*/
#gform_wrapper_1,
#gform_wrapper_2,
#gform_wrapper_3 {
	--gf-padding: 0;
	--gf-bg: var(--white);
	--gf-label-font-weight: 400;

	background-color: var(--gf-bg);
	margin-right: 0;
	max-width: 100%;
	padding: var(--gf-padding);

	& label.gfield_label {
		font-weight: var(--gf-label-font-weight);
	}

	& .gfield_consent_label {
		font-size: 0.75em;
	}
}
