/* TEAM PROFILES */

.team-profile {

	& .team-profile__image {

		& .wp-block-coblocks-social {
			color: var(--primary-80);

			&:hover {
				color: var(--primary-100);
			}
		}
	}

	@media ( width < 544px ) {

		& .wp-block-columns {
			flex-direction: column-reverse;
		}
	}
}
