body {
	background-color: var(--color-white);
}

.test {
	color: var(--color-black);
	text-align: center;

	&:hover {
		color: var(--color-brand-primary60);
	}

	& p {
		color: var(--color-brand-primary60);
	}
}

.poo {
	color: var(--color-black);
	display: flex;
	text-align: left;

	&:hover {
		color: var(--color-brand-primary60);
		text-align: right;
	}
}
